*{
    margin:0px;
}

.head{
    background-color:white;
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:0px;
}

.ghhhhhhhh{
    color:green;
    font-size:25px;
    text-decoration:none;
}

.jgg565ghh{
    font-size:25px;
    color:black;
    text-decoration:none;
}

.tut{
    display:flex;
    font-size:25px;
}

.tut:hover{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.ser{
    display:flex;
    font-size:25px;
}

.ser:hover{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.sear{
    display:flex;
    height:28px;
}

.tex{
    border-radius:10px;
    height:15px;
}

.mag{
    font-size:25px;
    height:25px;
    width:35px;
    background-color:pink;
    border-radius:10px;
}

.sign{
    height:28px;
    display:flex;
    border:1px solid green;
    border-radius:10px;
}




.box2{
    background-color:grey;
    display:flex;
    height:28px;
    justify-content:space-between;
    position:sticky;
    top:29.5px;
}

.htm{
    padding-top:4px;
    color:white;
}

.cs{
    padding-top:4px;
    color:white;
}

.js{
    padding-top:4px;
    color:white;
}

.cp{
    padding-top:4px;
    color:white;
}

.cl{
    padding-top:4px;
    color:white;
}

.jk{
    padding-top:4px;
    color:white;
}

.sq{
    padding-top:4px;
    color:white;
}

.pt{
    padding-top:4px;
    color:white;
}




.view{
    text-align:center;
    background-color:rgba(0,255,0,0.4);
}

.jhjhhjh55vggh{
    font-weight:100;
}

.hhhjh55jggg{
    font-weight:100;
}

.hhjhhg556hghgg{
    font-weight:100;
}

.hjhjgg5566565hghhg{
    font-weight:100;
}

.hhhjhyuyioi565{
    font-weight:100;
}

.khiijiuiu356{
    font-weight:100;
}

.hjhuh555665gggu{
    font-weight:100;
}

.jhg35565juhug{
    font-weight:100;
}

.jhh5565566gyy{
    font-weight:100;
}



.header{
    background-color:grey;
    height:210px;
}

.Header{
    color:greenyellow;
    display:flex;
    justify-content:space-between;
}

.jkgugyityutytky{
    display:flex;
    color:white;
    justify-content:space-between;
}

.guuiyuoyoyyy{
    display:flex;
    color:white;
    justify-content:space-between;
}

.hjyuyuyyyoyytoy{
    display:flex;
    color:white;
    justify-content:space-between;
}

.hyuiyuyyiyiyiyy8{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jgysilyuyyo{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jiuoiuuiuu90ui{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jkjhuyiu4464536{
    display:flex;
    color:white;
    justify-content:space-between;   
}

.jhuyuyyyiu658535987{
    display:flex;
    color:white;
    justify-content:space-between;  
}

