*{
    margin:0px;
}

.head{
    background-color:white;
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:0px;
}

.ghhhhhhhh{
    color:green;
    font-size:25px;
    text-decoration:none;
}

.jgg565ghh{
    font-size:25px;
    color:black;
    text-decoration:none;
}

.tut:hover{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.ser{
    display:flex;
    font-size:25px;
}

.ser:hover{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.sear{
    display:flex;
    height:28px;
}

.tex{
    border-radius:10px;
    height:15px;
}

.mag{
    font-size:25px;
    height:25px;
    width:35px;
    background-color:pink;
    border-radius:10px;
}

.sign{
    height:28px;
    display:flex;
    border:1px solid green;
    border-radius:10px;
}




.box2{
    background-color:grey;
    display:flex;
    height:28px;
    justify-content:space-between;
    position:sticky;
    top:29.5px;
}

.htm{
    padding-top:4px;
    color:white;
}

.cs{
    padding-top:4px;
    color:white;
}

.js{
    padding-top:4px;
    color:white;
}

.cp{
    padding-top:4px;
    color:white;
}

.cl{
    padding-top:4px;
    color:white;
}

.jk{
    padding-top:4px;
    color:white;
}

.sq{
    padding-top:4px;
    color:white;
}

.pt{
    padding-top:4px;
    color:white;
}




.box3{
    background-color:grey;
    height:350px;
}

.tcfg{
    text-align:center;
    color:white;
    font-size:80px;
    padding-top:68px;
}

.sighj{
    text-align:center;
    color:yellow;
}



.BOX3{
    background-color:blue;
    height:200px;
    padding-top:68px;
}

.aa656565ggugugg{
    text-align:center;
}

.kjhkhih566hhjhj{
    padding-top:35px; 
}

.jhhihi556565hjjhhgghg{
    padding-top:3px; 
}

.yuyuyyuyu5{
    height:50px;
    width:100px;
    border:1px solid;
    border-radius:10px;
    background-color:greenyellow;
    text-align:center;
    padding-top:11.5px;
}




.box4{
    background-color:yellow;
    height:200px;
    padding-top:68px;
}

.chjk{
    text-align:center;
}

.hjggjguguut{
    padding-top:60px;
}

.hghjgjjg{
    height:50px;
    width:100px;
    border:1px solid;
    border-radius:10px;
    background-color:aqua;
    text-align:center;
    padding-top:11.5px;
}



.header{
    background-color:grey;
    height:210px;
}

.Header{
    color:greenyellow;
    display:flex;
    justify-content:space-between;
}

.jkgugyityutytky{
    display:flex;
    color:white;
    justify-content:space-between;
}

.guuiyuoyoyyy{
    display:flex;
    color:white;
    justify-content:space-between;
}

.hjyuyuyyyoyytoy{
    display:flex;
    color:white;
    justify-content:space-between;
}

.hyuiyuyyiyiyiyy8{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jgysilyuyyo{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jiuoiuuiuu90ui{
    display:flex;
    color:white;
    justify-content:space-between;
}

.jkjhuyiu4464536{
    display:flex;
    color:white;
    justify-content:space-between;   
}

.jhuyuyyyiu658535987{
    display:flex;
    color:white;
    justify-content:space-between;  
}
