*{
    margin:0px;
}

.head{
    background-color:white;
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:0px;
}

.ghhhhhhhh{
    color:green;
    font-size:25px;
    text-decoration:none;
}

.jgg565ghh{
    font-size:25px;
    color:black;
    text-decoration:none;
}

.tut{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.ser{
    display:flex;
    font-size:25px;
}

.ser:hover{
    height:25px;
    border:1px solid ;
    background-color:green;
}

.sear{
    display:flex;
    height:28px;
}

.tex{
    border-radius:10px;
    height:15px;
}

.mag{
    font-size:25px;
    height:25px;
    width:35px;
    background-color:pink;
    border-radius:10px;
}

.sign{
    height:28px;
    display:flex;
    border:1px solid green;
    border-radius:10px;
}




.hhhj565gggh{
    color:yellow;
    font-size:25px;
}

.jhuhuy65gyg{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65gkl{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65ghh{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65ghghu{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65ghg5jh{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65ghg565jhsql{
    font-size:15px;
    color:white;
    padding-left:20px;
}

.jhuhuy65ghg565jhpy{
    font-size:15px;
    color:white;
    padding-left:20px;
}
